

.container{
  display: flex;
   width: 100%;
    margin: 0 auto;
    font-family: 'DIN Pro';
   

}
.spisok-img{
    padding-left: 125px;
    width: 137px;
    height: 141.67px;
    padding-top: 26px;
    margin-bottom: 61px;

}
.spisok-eda{
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-weight: 400;
font-size: 24px;
align-items: center;
padding-left: 20px;
padding-left: 129px;
margin-bottom: 30px;
}
.spisok-edaNAP{
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-weight: 400;
font-size: 24px;
align-items: center;
padding-left: 20px;
padding-left: 136px;
margin-bottom: 30px;
}
.spisok-titleNAP{
    text-decoration: none;
    color: #000000;
    padding-left: 25px;
    transition: color 0.30s ease;
    }
    .spisok-titleNAP:hover{
        color: #FF9846;
    }
    .spisok{
        width: 320px;
        
    }

.skoro{
    background: #EB5757;
     border-radius: 10px;
     position: relative;
     display: flex;
     align-items: center;
     text-transform: uppercase;
     color: #FFFFFF;
                     font-weight: 400;
                     font-size: 11px;
                    flex-direction: column;
                     line-height: 16px;
                     width: 50px;
                    top: -15px;
}

.skoro-sss{
    left: -24px;
                         background: #EB5757;
                           border-radius: 10px;
                          position: relative;
                          display: flex;
                            align-items: center;
                        text-transform: uppercase;
                             color: #FFFFFF;
                             font-weight: 400;
                             font-size: 11px;
                                    flex-direction: column;
                            line-height: 16px;
                            width: 50px;
                           top: -15px;
}








.spisok-title{
text-decoration: none;
color: #000000;
padding-left: 20px;
transition: color 0.30s ease;
}
.spisok-title:hover{
    color: #FF9846;
}



.intro{
    width: 1170px;
    background: #F2F2F2;
}
.intro-tel{
    height: 96px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    width: 233px;
    border-color: #A4ACAD;
}





.phone{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 42px;
    font-weight: 500;
    font-size: 15px;
    width: 138px;
    align-items: center;
    color: #FF9846;
    text-decoration: none;

}



.intro-teltitle{
    padding-top: 6px;
    height: 0;
    font-weight: 500;
    font-size: 16px;
    padding-left: 55px;
}
.intro-head-img{
    align-items: center;
    display: flex;
    padding-left: 18px;
}
.intro-head-img-p{
    padding-left: 5px;
    font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #A4ACAD;
}
.intro-head{
    text-decoration: none;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #A4ACAD;
}









.intro-head-info{
    margin-left: 18px;
    margin-top: 26px;
}

.intro-head-gorod{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #A4ACAD;
    margin-bottom: 6px;
  
}

.intro-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}
.intro-head-info-rith{
    margin-top: 26px;
    margin-right: 40px;
margin-left: auto;


}

.intro-head-info-texttow{
    margin-right: 69px;
    transition: color 0.3s ease;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000;
}
.intro-head-info-text{
    margin-right: 10px;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif; 
}
.intro-head-info-text:hover{
    color: #FF9846;
}
.intro-head-info-texttow:hover{
color: #FF9846;
}
.intro-menu{

}



.intro-menu-img{
    width: 959px;
    height: 468px;
    border-radius: 5px;
}

.intro-container{
    
    margin-top: 30px;
    margin-left: 110px;

}


.tohka{
 
    color: #A4ACAD;
    letter-spacing: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.tohka:hover{
 color: #FF9846;
}
.intro-menu-tichka{
    margin-top: 11px;
    margin-left: 440px;
}
.intro-imgs-menu{
    display: flex;
    margin-top: 30px;
}
.intro-imgs-menu-two{
    display: flex;
    margin-top: 30px;
}
.intro-textx{
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
    font-weight: 500;
font-size: 24px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;



}
.intro-textx::after{
    text-decoration: dashed;
    color: #A4ACAD;
    width: 100%;
    position: absolute;

    left: 0;
    content: "";
    opacity: 0;

}
.intro-textx:hover{
    text-decoration: dotted;
    color: #A4ACAD;


}
.intro-text{
      margin-bottom: 30px;

    margin-top: 52px;
  
}
.menu-shu{
display: flex;
margin-bottom: 50px;
}
.menu-shu-block{
    width: 289px;
height: 397px;
background-color: #FFFFFF;
font-weight: 500;
font-size: 24px;
margin-right: 41px;
}
.block-knopka{
    text-decoration: none;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #A4ACAD;
}
.knopka{
    background: #F46D40;
    width: 143px;
  height: 40px;
margin-left: 137px;
  text-decoration: none;
    border-radius: 5px;
    
    
}
.knopka-title{
   position: relative;
   top: 7px;
    color: #FFFFFF;
    font-weight: 500;
font-size: 24px;
align-items: center;
font-family: 'Poppins', sans-serif;
text-align: center;
text-decoration: none;
}
.fccx{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 17px;
color: #A4ACAD;

}

.knopka-title3{
    left: 10px;
    position: relative;
    height: 16px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    top: 26px;
}









.intro_title_info{
    color: #A4ACAD;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #A4ACAD;
margin-bottom: 22px;

    width: 950px;
    height: 370px;
}

.intro_title_info_h2{
    font-weight: 700;
    margin-bottom: 15px;
font-size: 24px;

    font-family: 'Poppins', sans-serif;
  

}

.intro_title_info_p{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}

.intro_title_info_ul{
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.intro_title_info_p2{
    font-weight: 400;
    font-size: 16px;
    height: 109px;
    font-family: 'Poppins', sans-serif;

}
.intro_title_info_fp{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.linar_intro{
    background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 100%);
}

.linar_intropodr{
    color: #F46D40;
    text-decoration: none;
}
.linar_intropodr_title{
    color: #F46D40;



    font-weight: 400;
font-size: 21px;
margin-left: 402px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.mstooseb{
    width: 950px;
    height: 247px;
    display: flex;
}

.mstooseb_blok{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #A4ACAD; 
 width: 330px;
 
 height: 247px;

}

.mstooseb_blok_title{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 4px;

}
.mstooseb_blok2_hreff{
    text-decoration: none;
    color: #A4ACAD;

    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
.mstooseb_blok2{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #A4ACAD; 
 width: 330px;
 padding-top: 4px;
 height: 247px;
}

.mstooseb_blok2_h2{
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
.mstooseb_blok2_p{
    font-weight: 400;
font-size: 18px;
margin-top: 20px;
    color: #A4ACAD;
    
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #A4ACAD; 

    width: 224px;
    margin-left: 40px;
   margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.mstooseb_blok2_img{
    display: flex;
    margin-left: 40px;

}


.mstooseb_blok3{

 width: 330px;
 padding-top: 4px;
 height: 247px;
}

.mstooseb_blok3_a{
    color: #A4ACAD;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.mstooseb_blok3_a2{
    color: #A4ACAD;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;;
}
.mstooseb_blok3_p{
    font-family: 'Poppins', sans-serif;
    color: #A4ACAD;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.mstooseb_blok3_title{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 4px;
    margin-left: 40px;

}

.vsd{
    margin-bottom: 8px;
}

.fddv{
    margin-bottom: 8px;
}

.fsde{
    margin-bottom: 8px;
}






.intro_set_block{
    display: flex;
    width: 144px;
height: 45px;
margin-bottom: 30px;
}

.intro_set_img{
    
width: 40px;height: 43px;
}
.intro_set{
    width: 83px;
height: 45px;
margin-top: 1px;
    margin-left: 20.87px;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}




.intro_set_select_block{
width: 198px;

}
.intro_set_select_p{

}
.intro_set_select{
width: 180px;
height: 58px;
border-radius: 15px 15px 0px 0px;
}
.intro_set_option{

}
.intro_set_option_a{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}




.sushu_flex{
display: flex;
}
.sushu_block_img{
    margin-left: 17px;
    margin-bottom: 31px;
}
.sushu_block_h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-left: 17px;
    color: #000000;
    margin-bottom: 31px;
}
.sushu_block_p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #A4ACAD;
    margin-left: 17px;
    margin-bottom: 29px;
}

.sushu_block{
    margin-right: 42px;
    margin-bottom: 31px;
    width: 288px;
height: 400px;
background: #FFFFFF;
}
.sushu_block_border{
    width: 290px;
    height: 51px;
    border-style: solid ;
    border-width: 2px 0px 0px 0px;
    border-color: #A4ACAD; 
}
.sushu_block_knop{

    margin-top: -10px;

}





.select-menu{
    width: 380px;
    margin-left: 73%;
    margin-top: -89px;

}
.select-menu .select-btn{
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    width: 198px;
    font-size: 18px;
    font-weight: 400;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.09);
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    width: 198px;
    /* margin-top: 10px; */
    /* border-radius: 8px; */
    background: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 55px;
    cursor: pointer;
    /* padding: 0 16px; */
    border-radius: 8px;
    /* width: 198px; */
    align-items: center;
    background: #fff;
    transition: color 0.3s ease;
}

.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

.option .option-text :hover{
    color: #F46D40;
}


.intro-menu_nazad{
display: flex;
margin-left: 40px;
margin-top: 52px;
}
.intro-menu_vper{
    display: flex;
    width: 91px;
    height: 22px;

margin-top: 52px;
}
.iNM_nazad_img{
    width: 20px;
    height: 20px;

}
.iNM_nazad_a{

    text-decoration: none;
    margin-left: 10px;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.iNM_VP_img{
    width: 20px;
    height: 20px;
  
    margin-left: 10PX;
}
.iNM_VP_a{

  
    text-decoration: none;
    margin-left: 10px;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.intro-menu_vper{
    width: 91px;
    margin-bottom: 52px;
height: 22px;
margin-top: -18px;
margin-left: 1039PX;

}





.intro_cont_menuVZ{
    display: flex;
    margin-bottom: 30px;
}
.intro_CVZ_img .CVZ_img{
    width: 620px;
    height: 435px;
    border-radius: 5px;
    
}
.intro_BlockVZC{
    width: 558px;
height: 435px;

background: #FFFFFF;
border-radius: 5px;
}

.intro_BlockVZC_title{
    margin-left: 30px;
}
.intro_VZC_title_h2{
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.VZC_title_p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
font-size: 18px;
margin-bottom: 40px;
color: #FF9846;
}
.VZC_title_p2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-top: 9px;
}
.VZC_title_p3{
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
font-size: 18px;
color: #111111;
}
.VZC_title_p4{
    margin-bottom: 31px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
font-size: 18px;
color: #111111;
}
.VZC_title_p5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
font-size: 18px;
color: #FF9846;
}
.VZC_title_cena{
    display: flex;
}

.VZC_title_img{
    width: 18px;
    margin-top: 16px;
    margin-left: 30px;
    height: 3px;

}
.plucc_title{
    margin-left: 7px;
    font-size: 45px;
    color: #fff;
    /* align-items: center; */
    margin-top: -3px;

}
.plucc{
    margin-bottom: 25px;
    border-radius: 30px;
    background: #F46D40;
    width: 40px;
height: 40px;
    margin-left: 19px;
}


.VZC_title_p10{
    margin-left: 19px;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}



.knopkaVZ{
    background: #F46D40;
    width: 180px;
  height: 40px;

  text-decoration: none;
    border-radius: 5px;
    
    
}
.knopka-VZ{
   position: relative;
   top: 7px;
    color: #FFFFFF;
    font-weight: 500;
font-size: 24px;
align-items: center;

margin-left: 55px;

font-family: 'Poppins', sans-serif;
text-align: center;
text-decoration: none;
}
.info_titlenew{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin-left: 428px;
}
.info_block_tile{
    width: 200px;
    margin-right: 143px;
    height: 272px;
    margin-left: 95px;
}
.info_block_tile_IMG{
margin-bottom: 10px;
}
.info_block_tile_H2{
    margin-bottom: 10px;
    font-weight: 500;
    margin-left: 42px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 18px;
}
.info_block_tile_P{
    font-weight: 700;
    margin-left: 34px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 24px;
}
.plucc_flex{
    display: flex;
}

.plucc_title2{
    margin-left: 3px;
    font-weight: 300;
    font-size: 31px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* align-items: center; */
    margin-top: -2px;
}
.plucc2{
    margin-top: -3px;
    margin-bottom: 25px;
    border-radius: 30px;

    background: #F46D40;
    width: 26px;
    height: 26px;
    margin-left: 10px;
}
.info_flex{
    display: flex;

}
.info_titlenew{
display: flex;
}
.strelochkaL{
    position: relative;
top: 160px;
}

.info_block_tile2{
    width: 200px;
    margin-right: 143px;
    height: 272px;


}
.info_block_tile3{
    width: 200px;
    height: 272px;

}
.strelochkaL2{
    left: 69px;
    position: relative;
    top: 160px;
}
.borderw{
    margin-left: 0px;
    width: 950px;
    margin-right: 110px;
margin-bottom: 22px;
}
.border{
  border-style: solid;
border-width: 0px 0px 1px 0px;
border-color: #A4ACAD;

}
